# necessary
python == 3.7.16
tensorflow==1.15.0

torch>=1.13.0+cu117
torchvision>=0.14.0+cu117
keras~=2.2.4
numpy
rasterio
scipy
lpips
matplotlib
scikit-image
setuptools
timm
fvcore
tqdm
natsort
s2cloudless
torchnet
werkzeug
flask
flask-cors